@font-face {
  font-family: 'Nunito', sans-serif;  
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap") format("opentype");
}

#root {
  height: 100%;
}

.App {
  font-family: 'Nunito', sans-serif !important; 
  height: 100vh;
  width: 100vw;
}

input {
  width: 200px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

input:focus {
  outline: none;
}

.form-outer-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: fit-content;
  margin-bottom: 20px;
}

.login-page-title {
  font-size: 50px;
  margin-bottom: 30px;
}

